name: CI/CD WordPress Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Install Ansible
        run: sudo apt-get update && sudo apt-get install -y ansible

      - name: Deploy to EC2
        run: |
          ansible-playbook -i hosts.ini site.yml \
          --private-key ~/.ssh/id_rsa \
          -u ubuntu \
          --ssh-common-args='-o StrictHostKeyChecking=no'
